@model LapZaWioslo.Models.EventInformation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="display: inline-block;">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
    </div>
    <div style="display: inline-block; vertical-align: super; float: right; font-size: 2em;">
        <div style="display: inline-block;">
            <a asp-action="Index">
                <i class="fas fa-arrow-left"> </i>
            </a>
        </div>
        <div style="display: inline-block;">
            <a asp-action="Edit">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </div>
</div>

<hr />

<div>
    <div>
        <i class="far fa-clock"></i>
        @Html.DisplayFor(model => model.StartDate) / @Html.DisplayFor(model => model.EndDate)
    </div>
    <hr />
    <div>
        <i class="far fa-question-circle"></i>
        @Html.DisplayFor(model => model.AdditionalQuestion)
    </div>
    <hr />
    <div>
        <i class="fas fa-info"></i>
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

<div style="margin-top:80px">
    @await Html.PartialAsync("EventParticipantsView", Model.Participants)
</div>
