@model IEnumerable<LapZaWioslo.Models.EventInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-bottom:50px;">
    <div style="display:inline-block">
        <h1>Events</h1>
    </div>
    <div style="display: inline-block; vertical-align: super; float:right">
        <a asp-action="Create" class="btn btn-success" style="text-align:right">
            <i class="fas fa-plus-square"></i> @SharedStringLocalizer["String.Button.CreateNew"]
        </a>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Name">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalQuestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedStringLocalizer["String.Button.Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Name">@SharedStringLocalizer["String.Button.Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedStringLocalizer["String.Button.Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
