@model IEnumerable<LapZaWioslo.Models.EventInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-bottom:50px;">
    <div style="display:inline-block">
        <h1>Events</h1>
    </div>
    <div style="display: inline-block; vertical-align: super; float:right">
        <a asp-action="Create" class="btn btn-success" style="text-align:right">
            <i class="fas fa-plus-square"></i> @SharedStringLocalizer["String.Button.CreateNew"]
        </a>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th width="50%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="15%" align="right">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th width="15%" align="right">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th width="20%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Name">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td align="right">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm" style="text-align:right">
                        <i class="fas fa-edit"></i> @SharedStringLocalizer["String.Button.Edit"]
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="text-align:right">
                        <i class="far fa-trash-alt"></i> @SharedStringLocalizer["String.Button.Delete"]
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
